body{

font-family: Arial;

margin:40px;

}

input{

width:200px;

margin:5px;

}

textarea{

width:400px;

height:120px;

margin:10px;

}

button{

padding:10px;

margin:5px;

}

h1{

color:#0b5394;

}